/* importation de fonts personnalisées */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Silkscreen:wght@400;700&display=swap');

/* on initialise les paramètres par défault des navigateurs à 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ma classe "main" est le gros bloc HTML dans lequel j'ai placé tous mes éléments */
.main {
    display: flex;
    /* j'utilise flex pour gérer la structure des éléments */
    margin-top: 5%;
    /* je décale ce bloc un peu vers le bas pour laisser une marge */
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-image: radial-gradient(circle, #1d2451, #1d215c, #221c66, #2c136f, #380076);
    /* j'utilise background-image pour créer un effet de "gradient" pour la couleur du fond */
    overflow-y: hidden;
}

/* je crée un "boite" spécifique pour placé quelques éléments en haut de la page */
.menu {
    position: absolute;
    /* la position absolute place les éléments au-dessus des autres */
    top: 2%;
    width: 100%;
}

.help-btn {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    left: 15%;
    filter: invert(90%);
    opacity: 40%;
}

.help-btn:hover {
    cursor: pointer;
    background-color: rgba(210, 126, 219, 0.614);
    border-radius: 50%;
    opacity: 100%;
    filter: none;
}

.help-btn::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(210, 126, 219, 1);
    font-family: "Dosis", sans-serif;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.help-btn:hover::after {
    opacity: 1;
}


#quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
    /* margin auto place les éléments au milieu */
    border: 3px solid rgba(210, 126, 219, 0.614);
    border-radius: 45% 55% 66% 34% / 39% 41% 59% 61%;
    /* les % me permettent de créer un effet de bordure dans tous les sens */
    padding: 8% 15% 10% 12%;
    animation: borderColorChange 5s infinite;
}

/* keyframes est utilisé pour gérer les animations en CSS */
@keyframes borderColorChange {
    0% {
        border-color: rgba(210, 126, 219, 0.614);
        /* couleur initiale */
    }

    25% {
        border-color: rgba(126, 219, 210, 0.614);
        /* couleur intermédiaire 1 */
    }

    50% {
        border-color: rgba(219, 210, 126, 0.614);
        /* couleur intermédiaire 2 */
    }

    75% {
        border-color: rgba(126, 210, 219, 0.614);
        /* couleur intermédiaire 3 */
    }

    100% {
        border-color: rgba(210, 126, 219, 0.614);
        /* retour à la couleur initiale */
    }
}

#list-number {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    background-color: rgba(210, 126, 219, 0);
    padding: 10px;
    margin-bottom: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.question label {
    color: rgba(238, 223, 240);
}

select {
    background-color: #04083E;
    color: rgba(238, 223, 240);
    border: 1px solid rgba(238, 223, 240, 0.5);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 200px;
}

/* je vais chercher spécifique les éléments à l'intérieur de la liste déroulante */
select>option {
    background-color: #04083E;
}


.box {
    position: absolute;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.title {
    margin-bottom: 2%;
}

.title-img {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 35.5%;
    top: 35.5%;
    z-index: -1;
    filter: invert(90%) saturate(60%) opacity(75%);
    /* le filter ici me permet d'ajouter un filtre sur l'image pour changer son apparence */
}

.img {
    margin: auto;
    width: 450px;
    height: 300px;
    object-fit: fill;
    /* je fais en sorte que l'image remplisse la boîte */
    background-image: url(./images/carte.png);
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#showImage {
    background-color: rgba(210, 126, 219, 0.614);
    font-family: "Silkscreen", sans-serif;
    border: none;
    padding: 5%;
    width: 150px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
    color: aliceblue;
    cursor: pointer;
    position: relative;
    margin-top: -15%;
}

#showImage::after {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* ici, c'est lorsque l'image est affiché après le click, on met l'opacité à son max pour qu'elle soit visible */
#showImage:hover::after {
    opacity: 1;
}

#showImage:hover {
    transform: perspective(600px) rotateY(180deg);
    background-color: rgba(210, 126, 219, 1);
    transition: 0.3s ease;
}

h1 {
    color: rgb(213, 213, 255);
    padding-bottom: 5%;
    font-size: 35px;
    text-align: center;
    width: 350px;
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
}

.special {
    color: rgb(240, 206, 248);
    font-size: 50px;
}

.list-game {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list-number {
    list-style-type: none;
}

#list-number li {
    padding-bottom: 5%;
}

.submit-btn {
    background-color: rgba(210, 126, 219, 0.614);
    font-family: "Silkscreen", sans-serif;
    border: none;
    padding: 2%;
    width: 150px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
    color: aliceblue;
    transition: ease-in-out 0.5s;
    text-transform: uppercase;
    /* je mets les lettres en majuscule */
}

.submit-btn:hover {
    background-color: rgba(210, 126, 219, 1);
    transform: translateX(10px);
    cursor: pointer;
}

.reset-btn {
    position: absolute;
    right: 18%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.reset-image {
    width: 25px;
    height: 25px;
}

.reset-image:hover {
    transform: scale(1.1);
    /* effet zoom au survol */
    transition: transform 0.3s ease-in-out;
}