* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin-top: 12%;
    background-color: #041D42;
}

.main {
    display: flex;
}

#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: auto;
    background-color: rgb(2, 0, 36);
    padding: 5%;
}

.box {
    position: absolute;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}

.img {
    margin: auto;
    width: 450px;
    height: 300px;
    object-fit: fill;
    background-image: url(./images/carte.png);
    border-radius: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

#showImage {
    background-color: rgba(210, 126, 219, 0.614);
    border: none;
    padding: 5%;
    width: 150px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
    color: aliceblue;
    cursor: pointer;
    position: relative;
}

#showImage::after {
    position: absolute;
    top: 100%;
    /* Juste en dessous du bouton */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#showImage:hover::after {
    opacity: 1;
}

h1 {
    color: rgb(213, 213, 255);
    padding-bottom: 5%;
    font-size: 25px;
    text-align: center;
    width: 200px;
}

.list-game {
    width: 100%;
}

#list-number {
    list-style-type: none;
}

#list-number li {
    padding-bottom: 5%;
}

.submit-btn {
    background-color: rgba(210, 126, 219, 0.614);
    border: none;
    padding: 5%;
    border-radius: 15px;
    font-weight: bold;
    font-size: 14px;
    color: aliceblue;
    transition: ease-in-out 0.5s;
}

.submit-btn:hover {
    background-color: rgba(210, 126, 219, 1);
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

.reset-btn {
    position: absolute;
    top: 25%;
    right: 40%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.reset-image {
    width: 25px;
    height: 25px;
}

.reset-image:hover {
    transform: scale(1.1);
    /* effet zoom au survol */
    transition: transform 0.3s ease-in-out;
}